{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
  

</div>
<div class="row bg-gray">
  <div class="col-md-6 col-sm-12 d-flex justify-content-start align-items-center gap-3 flex-column">
   
    <div class="points-container p-5 mt-3" style="height: fit-content;">
        <div class="points-content">
            <h1 class="mt-5 mb-0 login-title fw-bold">Level up your business</h1>
            <p class="my-5 small text-gray">Discover the power of our services</p>
            <div class="bullet-points flex-column d-flex justify-content-center align-items-start">
              <div class="contact-point">
                <i class="fa-solid fa-check text-green"></i>
                <p class="contact-p-margin">Efficient data gathering from various sources</p>
              </div>
              <div class="contact-point">
                <i class="fa-solid fa-check text-green"></i>
                <p class="contact-p-margin">Tailored marketing campaigns for construction and tree surgery businesses and more</p>
              </div>
              <div class="contact-point">
                <i class="fa-solid fa-check text-green"></i>
                <p class="contact-p-margin">Increased brand awareness and customer engagement</p>
              </div>
              <div class="contact-point">
                <i class="fa-solid fa-check text-green"></i>
                <p class="contact-p-margin">Dedicated customer support and satisfaction</p>
              </div>
            </div>
        </div>
      </div>
    </div>

   
  <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
    <div class="form-container">
      <form class="login-form d-flex justify-content-center align-items-start" method="POST">
        <div class="login-form-content">
          {% csrf_token %}
          <h2 class="mt-5">Welcome back</h2>
          <p class="boldness mb-5">Log in to access your account</p>
          <div class="mb-4 text-light">
            <input placeholder="Username" type="text" class="form-control" name="username" />
          </div>
          <div class="mb-5 text-light">
            <input placeholder="Password" type="password" class="form-control" name="password" />
          </div>
          <button type="submit" class="btn btn-primary login-form-btn">Log In</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
