{% extends "base.html" %} {% load static %} {% block content %}

<div class="container-fluid p-0 bg-home">
  <div class="row">
    <div class="col text-center my-5">
      <h1><span class="key-word about-title">About Us</span></h1>
      <p class="my-5 mx-5 text-light">
        We provide custom data-driven solutions , evolving efficiency with
        revenue growth and cost reduction.
      </p>
    </div>
  </div>
  <div class="row">
    <div
      class="col d-flex justify-content-center align-items-center gap-5 flex-wrap"
    >
      <div class="statistics">
        <h1><span class="key-word">32+</span></h1>
        <p class="text-light">No. websites <br>we cover</p>
      </div>
      <div class="statistics">
        <h1><span class="key-word">500 +</span></h1>
        <p class="text-light">Reach hundreds of potentail <br> leads per month</p>
      </div>
      <div class="statistics">
        <h1><span class="key-word">100%</span></h1>
        <p class="text-light">Customer Satisfaction</p>
      </div>
      <div class="statistics">
        <h1><span class="key-word">100%</span></h1>
        <p class="text-light">Client retention rate</p>
      </div>
    </div>
  </div>
  
  <div class="about-section-two container-fluid p-0">
    <div class="border-seperate"></div>
    <div class="row my-5">
      <div
        class="col-md-6 col-sm-12 d-flex justify-content-start align-items-center flex-column px-5"
      >
        <h1 class="">Empowering Your Success with Innovative Data Solutions</h1>
        <p class="about-p">
          Our cutting-edge software scours the web for valuable data, providing you with actionable insights to make informed decisions and stay ahead of the competition. 
          <br> <br>
          We take pride in our commitment to client satisfaction. We prioritize building long-term partnerships based on trust, transparency, and results.
        </p>
      </div>
      <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
        <img
          src="{% static 'images/about-img.png' %}"
          class="img-fluid about-img"
          alt=""
        />
      </div>
    </div>
  
    <div class="row py-5">
      <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
        <img
          src="{% static 'images/about-img2.png' %}"
          class="img-fluid about-img"
          alt=""
        />
      </div>
      <div
        class="col-md-6 col-sm-12 d-flex justify-content-start align-items-center flex-column px-5"
      >
        <h1>Your All-in-One Marketing Solution</h1>
        <p class="about-p">
          From lead generation to brand building, we offer a comprehensive suite of services designed to meet all your marketing needs under one roof. <br> <br> Whether you're looking to increase your online visibility, generate more leads, or enhance your brand image, we have the expertise and resources to make it happen.
        </p>
      </div>
    </div>
  </div>

</div>


<script
  src="https://kit.fontawesome.com/b2fe83387a.js"
  crossorigin="anonymous"
></script>
{% endblock %}
