{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row p-5 bg-home">
        <div class="col-md-6 col-sm-12 mt-3 flex-column text-light d-flex justify-content-center align-items-start">
            <h1 class="">Unlock the<br><span class="key-word">Power of Data</span> for Your Business</h1>
            <p class="subtitle">Borough bot search is your intelligent assistant for gathering valuable insights about<span class="colored-word-subtitle">potential clients.</span> Our bot scours the web to obtain valuable infomation to generate leads </p>
            <a href="{% url 'contact' %}" class=" my-4 btn home-btn d-flex align-items-center justify-content-center position-relative">Contact Us</a>
            <h3 class="my-4">Why Choose Us?</h3>
            <div class="bullet-points flex-column d-flex justify-content-center align-items-start gap-3">
                <div class="point">
                    <i class="fa-solid fa-check"></i>
                    <p class="p-margin">Proven model to increase clients</p>
                </div>
                <div class="point">
                    <i class="fa-solid fa-check"></i>
                    <p class="p-margin">Tailored Promotional Campaigns</p>
                </div>
                <div class="point">
                    <i class="fa-solid fa-check"></i>
                    <p class="p-margin">Compliance and Privacy</p>
                </div>
                <div class="point">
                    <i class="fa-solid fa-check"></i>
                    <p class="p-margin">Tailored Data Delivery: How you want it, when you want it</p>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-3 mt-3">
                <a href="#services" class="btn home-btns">Our services</a>
            </div>
        </div>
        <!-- <div class="col-md-6 d-none d-sm-block flex-column text-light d-flex justify-content-center align-items-start p-0">
            <div class="cube-container d-flex justify-content-center align-items-center h-100 w-100">
                <div class="cube plywood">
                    <div class="face"></div>
                    <div class="face"></div>
                    <div class="face"></div>
                    <div class="face"></div>
                    <div class="face"></div>
                    <div class="face"></div>
                    <div class="shadow"></div>
                </div>

            </div>
           
        </div> -->
    </div>
</div>

    
<div class="container-fluid home-section-two">
    <div id="services">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-5">How it works</h1>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex my-5 justify-content-center align-items-center gap-4 flex-wrap">
                <div class="card text-center">
                    <h1 class="card-title"><span class="num">1.</span> Consultation</h1>
                    <hr class="quote-hr">
                    <p>This is a quick 5 minute zoom call where we demo the software and show you how it works and to see if you are a good fit for us. We begin by understanding your business objectives, challenges, and unique requirements. <br><br> Our expert team works closely with you to tailor a data solution that aligns perfectly with your goals.</p>
                </div>
                <div class="card text-center">
                    <h1 class="card-title"><span class="num">2.</span> Data Collection</h1>
                    <hr class="quote-hr">
                    <p>Using our advanced web scraping program, we collect data from a wide range of sources <br> relevant to your business. <br><br>We gather data specified by the client, then we add the name and address to a letter or leaflet which will be sent out.</p>
                </div>
                <div class="card text-center">
                    <h1 class="card-title mt-5"><span class="num">3.</span>Direct Mail Campaign</h1>
                    <hr class="quote-hr">
                    <p>
                     A customised letterhead displaying contact information, logo, website url will be send to each potential client. With a customized written sales pitch and custom designed letterhead, our direct mail services are designed to captivate recipients and drive action.
                    </p>
                </div>
            </div>
        </div>
    
    </div>
</div>

<div class="container-fluid bg-quote">
    <!-- <div class="test"> -->
        <div class="row py-5 mx-5">
            <div class="col-12 d-flex justify-content-center flex-column align-items-start  position-relative">
                <div class="quote-container">
                    <h1 class="quote-title" ><span class="quote-line"></span>Request a Quote</h1>
                    <p class="my-3 quote-text">We use the time and money of customers through automating <br> their data abstractions using smooth data scraping services.</p>
                    <a href="{% url 'contact' %}" class="btn quote-btn">Request a Quote</a>
                    
                </div>

            </div>
        </div>
    <!-- </div> -->
</div>

<script
  src="https://kit.fontawesome.com/b2fe83387a.js"
  crossorigin="anonymous"
></script>
{% endblock %}
